<div class="gr-single-col">
<div class="container container-black">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<h1 class="page-header">About <small>everything starts with F0 and ends with F7</small></h1>
		</div>
		<div class="col-sm-7 col-sm-offset-1">
			
			<h2>What is this?</h2>
			<p class="lead">LASER Mammoth is a SysEx Librarian to send and receive sound programs to and from your Synthesizer.</p>
			<p>We think you will love your synth even more when you just organize your sounds in a meaningful way.</p>

			<p>
				Recallable presets were a big thing invented in the 80ties. An arsenal of sound under control of your fingertips. Amazing!<br/>
				But not everyone shares the same taste so factory presets have to be full of compromises. There has to be "something for everyone". Trying to make it right for everyone usually means to make it mediocre for all. That wouldn't have been so bad if the process of exchanging the sounds a.k.a. SysEx data wasn't so painful. LASER Mammoth wants to change that.
			</p>

			<p>With LASER Mammoth you can</p>
			<ol>
				<li>Reorder programs on your synths</li>
				<li>Rename all the init2,3,4, new#3 and init sounds</li>
				<li>Delete all flutes and saxophone sounds</li>
				<li>Share your creations with others</li>
			</ol>
			<p>Additionally these SysEx data can be saved in a database and even published, to share the programs with other users.</p>

			<h2>How to receive SysEx</h2>
			<p>You have three options to receive Sysex data:</p>
			<ol>
				<li>Select the MIDI In port and initiate a Sysex Bank dump from your synth</li>
				<li>Select your synth and request a Sysex dump from the browser</li>
				<li>Choose a Sysex file to import (you can drag it on the <em>Choose File</em> button</li>
			</ol>
			<p>You can even send SysEx data from an OS X application like <em>SysEx Librarian</em> on the same computer to the browser!</p>
			<h2>Bankmanager</h2>
			<p>You can store up to 3 entire banks in the Bankmanager. Banks can be renamed and deleted. Banks can also be published, that means everyone can use your sound creations! But please do not publish commercial soundsets and respect the work of the professional sound designers.</p>
			<h2>Program lists</h2>
			<p><strong>Click directly on the program name</strong> to transfer the program to your synths <em>Edit&nbsp;Buffer</em>. This way you can prelisten the sound without overwriting your existing programs.
			</p>
			<p>After you have <strong>renamed</strong> a program you have to transfer it to your synth by clicking the <em>Overwrite&nbsp;Program</em> (arrow up) button.</p>




			<h3>Masterboard</h3>
			<p>Programs you receive from your synths or from <em>My Banks</em> in the <em>Bankmanager</em> populate the <em>Masterboard</em>. Only programs of the <em>Masterboard</em> can be saved to the <em>Bankmanager</em> or transferred back to your synths. However you can swap the entire list with the <em>Clipboard</em>.</p>
			<p>Drag'n'drop programs to reorder them. You can move programs up and down one list or between lists.</p>
			<h3>Clipboard</h3>
			<p>Programs you select from the <em>Public Bank Library</em> or from an external SysEx file will go to the <em>Clipboard</em>. You have to move the programs to the <em>Masterboard</em> to transfer them to your synths.</p>
			<h3>DNA checksum</h3>
			<p>The four digits code in the <em>programs lists</em> besides every program is the program DNA. That is a checksum of the sound parameters. If you compare sounds with the same name you can verify with the DNA code that they are indeed the same programs.</p>
			<h3>Keyboard shortcuts</h3>
			<p>LASER Mammoth makes use of some powerful keyboard shortcuts. Hit "?" on your keyboard when in librarian mode to see what's available.</p>
		</div>
		<div class="col-sm-3">
			<p>If you like to see a device missing from our supported list just <a href="mailto:kontakt@numerisch.com?subject=LASER%20Mammoth%2C%20please%20support%20the%20Zumbitsu%202000%21">send us an email</a>.</p>
			<blockquote>
			  <p>The distant thundering sound of a mammoth stampede</p>
			  <footer>Someone in awe</footer>
			</blockquote>
		</div>
	</div>
</div>
</div>
<div class="gr-foot tron-bottom" ng-include src="'partials/foot.html'"></div>