<div class="layout-tools">
    <div class="option-slider" ng-hide="!selectedDevice">
        <label>
            <div class="text-label">Info</div>
            <div class="switch">
                <input type="checkbox" ng-model="$parent.showHelp">
                <span class="slider round"></span>
            </div>
        </label>
    </div>
    <div class="option-slider" ng-hide="!selectedDevice">
        <label>
            <div class="text-label">Monitor</div>
            <div class="switch">
                <input type="checkbox" ng-model="$parent.showMonitor">
                <span class="slider round"></span>
            </div>
        </label>
    </div>
</div>
<div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/lasermammoth" target="_blank"><img src="img/FB-FindUsonFacebook-online-144.png" style="margin-top:-5px;height: 1.25rem;"  /></a></li>
        <li><a ng-href="#/imprint">Impressum</a></li>
        <li><a ng-href="#/privacy">Privacy Policy</a></li>
    </ul>
</div>
