<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="topnav col-sm-12 flex-horizontal flex-justified">
                <div class="fitem1">
                    <a ng-href="#/"><img src="img/logo@2x.png" id="logo-mammoth"></img></a>
                </div>
                <div class="flash-msg fitem2">
                    <flash-message></flash-message>
                </div>
                <div class="fitem3">
                    <ul ng-cloak class="nav flex-horizontal">
                        
                        <li><a ng-href="#/about">About</a></li>
                        <!-- <li ng-hide="user_is_valid_pro()"><a ng-href="#/pro">Pro Account</a></li> -->
                        <li ng-hide="token()"><a class="btn btn-primary btn-hollow mr1" ng-href="#/register">Register</a></li>
                        <li ng-hide="token()"><a class="btn btn-info btn-hollow" ng-href="#/login">Login</a></li>
                        <li ng-show="token()"><a class="btn btn-primary btn-hollow mr1" ng-href="#/profile">Profile</a></li>
                        <li ng-show="token()"><a class="btn btn-info btn-hollow" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="progress" ng-show="progressbarPercentage() > 0">
                    <div class="progress-bar active" role="progressbar" aria-valuenow="{{progressbarPercentage()}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressbarPercentage()}}%">
                        <span class="sr-only">{{progressbarPercentage()}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
