<div class="gr-single-col">
<div class="container container-black">
	<div class="contentblock">
	<div class="row">
		<div class="col-sm-12 col-md-12">
		<h1 class="page-header">Thank you!</h1>
			<p class="lead">Your LASERS have been upgraded</p>
		</div>
	</div>
	</div>
</div>
</div>
<div class="gr-foot tron-bottom" ng-include src="'partials/foot.html'"></div>