<div class="gr-single-col">
<div class="container container-black">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="page-header">Create your account</h2>
			<form name="myForm">
				<div class="form-group" ng-class="{'has-error' : myForm.username.$error.required}">
					<label for="field-username">Username</label>
					<input type="text" ng-model="Users.username" class="form-control" id="field-username" name="username" ng-required="myForm.username.$dirty" >
					<span class="help-block" ng-show="myForm.username.$error.required">Required!</span>
				</div>
				<div class="form-group" ng-class="{'has-error' : myForm.email.$error.required}">
					<label for="field-email">Email Address</label>
					<input type="email" ng-model="Users.email" class="form-control" id="field-email" name="email" ng-required="myForm.email.$dirty">
					<span class="help-block" ng-show="myForm.email.$error.required">Required!</span>
				</div>
				<div class="form-group" ng-class="{'has-error' : myForm.password.$error.required}">
				   <label for="field-password">Password</label>
				   <input type="password" ng-model="Users.password" class="form-control" id="field-password" name="password" ng-required="myForm.password.$dirty" >
				   <span class="help-block" ng-show="myForm.password.$error.required">Required!</span>
				 </div>

				 <div class="form-group">
				 	<label>Are you a Robot?</label>
					 <div id="recaptcha-widget"></div>
				 </div>

				<button ng-disabled="myForm.$invalid || myForm.$pristine" type="submit" class="btn btn-primary" ng-click="signup()" >Sign up</button>
			</form>
		</div>
	</div>
</div>
</div>
<div class="gr-foot tron-bottom" ng-include src="'partials/foot.html'"></div>