<div class="gr-single-col">
<div class="container container-black">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="page-header">Set a new password</h2>
			<form name="myForm">
				<div class="form-group">
				   <label for="field-password">Password</label>
				   <input type="password" ng-model="password" class="form-control" id="field-password" name="password" ng-required="myForm.password.$dirty">
				   <span class="help-block" ng-show="myForm.password.$error.required">Required!</span>
				 </div>
				<button ng-disabled="myForm.$pristine" type="submit" class="btn btn-primary" ng-click="setNewPassword()">Submit</button>
			</form>
		</div>
	</div>
</div>
</div>
<div class="gr-foot tron-bottom" ng-include src="'partials/foot.html'"></div>