<div class="gr-single-col">
<div class="container container-black">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header">Welcome to F0F7 - LASER Mammoth!</h2>
            <p>Everything looks great so far. Go to the <a ng-href="#/">startpage</a> and select your synth profile.</p>
            <p>Have fun!</p>
		</div>
	</div>
</div>
</div>
<div class="gr-foot tron-bottom" ng-include src="'partials/foot.html'"></div>