html {
    font-size: @font-size-base;
}
body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: @font-size-base;
    color: #ccc;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    #gradient.vertical-three-colors(@start-color: @brand-primary; @mid-color:  @brand-secondary; @color-stop: 50%; @end-color: @brand-tertiary;);

    box-sizing: border-box;
}
html, body {
    overflow: hidden;
    height: 100%;
    max-height: 100%;
}

//start grid
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "gr-head" "gr-main";
  //gap: 30px 0px;

  height: 100%;
  max-height: 100%;
  background-color: #111;
  margin: 0 5rem;
}

.gr-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "gr-sysexlib" "gr-foot";
  // gap: 1px 1px;
  min-height: 0;
}

.gr-sysexlib {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "gr-controls gr-boards";
  min-height: 0;
}

@media (max-width: @screen-lg-min) {
    .grid-container {
        margin: 0 0;
    }
}

@media (max-width: @screen-sm-min) {
    html, body {
        overflow: auto;
        height: initial;
        max-height: initial;
    }
    .gr-sysexlib {
        display: block;
        height: initial;
        max-height: initial;
    }
}

.gr-head { 
    grid-area: gr-head;
    margin-bottom: 1.75rem;
}

.gr-controls {
    grid-area: gr-controls;
    overflow-y: auto;
}

.gr-boards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(20%, 1fr) fit-content(30%);
    // gap: 1px 1px;
    grid-template-areas: "gr-board-head gr-board-head" "gr-masterboard gr-clipboard" "gr-monitor gr-monitor";
    grid-area: gr-boards;

    min-height: 0;
    min-width: 0;
}

.gr-board-head { grid-area: gr-board-head; }
.gr-masterboard { grid-area: gr-masterboard; }
.gr-clipboard { grid-area: gr-clipboard; }
.gr-monitor {
    grid-area: gr-monitor;
    overflow-y: auto;
}

.gr-masterboard, .gr-clipboard {
    overflow-y: auto;
}

.gr-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: gr-foot;
    ul {
        margin: 0 0;
        padding: 0 15px;
        overflow-x: hidden;
    }
}

.gr-single-col {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    // gap: 1px 1px;
}
//end grid

.controls {
    display: grid;
    gap: 0 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#input-sysex {
    width: 190px;
}

a[ng-click]{
    cursor: pointer;
}

.mt1 {
  margin-top: 1rem;
}

.mb05 {
  margin-bottom: .5rem;
}

.mb1 {
  margin-bottom: 1.5rem;
}

.mb2 {
  margin-bottom: 3rem;
}

.mr1 {
  margin-right: 1rem;
}

.ar {
  text-align: right;
}
.ac {
  text-align: center;
}

#logo-mammoth {
  height: 60px;
   display: block;
  opacity:1;
  transition:all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#logo-mammoth.shootlasers {
  opacity:0.3;
  height: 60px;
}

#midi-indicator {
    color: grey;
}

#midi-indicator.shootlasers {
    color: @green;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;

  .well {
    .bg-variant(#222);
    border: none;
    margin-top: 25px;
  }
  ul {
    color: #111;
  }
}

.container-black {
  .opacity(0.95);
  color: #ddd;
  background-color: #111;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
}

header {
  .container-black {
    .opacity(1);
  }
}
.content-text {
  ul, ol {
    color: #fff;
  }
}

.form-control {
  background-color: #333;
  color: #eee;
  border: none;
}

#logger {
    margin-top: 1rem;
}

pre {
  font-size: 0.85rem;
  margin: 0;
}

.program-info, .bank-name {
  white-space: nowrap;
  flex: 0 4 auto;
  overflow: hidden;
  // display: flex;
}

.patchList {
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .badge {
    font-size: 0.6rem;
    vertical-align: middle;
  }

  .dna {
      flex: 4;
    font-size: 0.7rem;
    color: @gray;
  }

  ul[dnd-list],
  ul[dnd-list] > li {
    position: relative;
  }

  /**
   * The dnd-list should always have a min-height,
   * otherwise you can't drop to it once it's empty
   */
  ul[dnd-list] {
      min-height: 32px;
      padding-left: 0px;

      border-radius: 0px;
      background-color: #ddd;
  }

  ul[dnd-list].empty {
    // border-radius: 5px;
    // background-color: #ddd;
  }

  /**
   * The dndDraggingSource class will be applied to
   * the source element of a drag operation. It makes
   * sense to hide it to give the user the feeling
   * that he's actually moving it.
   */
  ul[dnd-list] .dndDraggingSource {
      display: none;
  }

  /**
   * An element with .dndPlaceholder class will be
   * added to the dnd-list while the user is dragging
   * over it.
   */
  ul[dnd-list] .dndPlaceholder {
      display: block;
      background-color: #ddd;
      min-height: 32px;
  }

  li.list-exceed {
    color: #999;
    .badge {
      background-color: @brand-warning;
    }
  }
}

ul[dnd-list] li,
ul.list-group li {
    border: 1px solid #aaa;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem .5rem;
    margin-bottom: -1px;
    font-family: @font-family-monospace;
    a {
      font-size: 0.9rem;
      line-height: 0.9rem;
    }
}

ul[dnd-list] li.selected,
ul.list-group li.selected {
    #gradient.horizontal(@brand-info, darken(@brand-info,10%));
    color: #fff;
    a, .dna, .editTools .glyphicon {
      color: #fff;
    }
}

.patchList, .bankmanager-lists {
    ul > li > span {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    ul > li > span:first-child {
      margin-left: 0;
    }
    ul > li > span:last-child {
      margin-right: 0;
    }
}

@media (max-width: @screen-lg-min) {
    ul[dnd-list] li,
    ul.list-group li {
        // display: block;
        // background-color: red;
    }
}

/*
dnd animation
*/
// ul[dnd-list] {
//   li {
//     overflow: hidden;
//     height:46px;
//   }

//   // li.ng-enter {
//   //   animation: list_fade_in_animation 0.2s ease-in;
//   // }
//   li.ng-leave,
//   li.ng-move {
//     animation: list_fade_out_animation 0.1s linear;
//   }
//   @keyframes list_fade_in_animation {
//     from { height:0px; padding-top: 0px; padding-bottom:0px;}
//     to { height:46px; padding-top: 10px; padding-bottom: 10px;}
//   }
//   @keyframes list_fade_out_animation {
//     from { height:46px; padding-top: 10px; padding-bottom: 10px;}
//     to { height:0px; padding-top: 0px; padding-bottom:0px;}
//   }
// }


.bankmanager {
    .bankmanager-lists {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        > div {
            flex: 1 1 auto;
            padding-left: .5rem;
            padding-right: .5rem;
            width: 50%;
        }
        > div:first-child {
            padding-left: 0
        }
        > div:last-child {
            padding-right: 0
        }
    }
  .panel {
    ul.list-group {
      background-color: #ddd;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #555;
      }
    }
    background-color: transparent;

    .panel-heading {
      color: #fff;
      #gradient.horizontal(@start-color: @brand-primary; @end-color: @brand-secondary;);
    }
  }
}

@media (max-width: @screen-sm-min) {
   .bankmanager {
       .bankmanager-lists {
           display: block;
           > div {
               margin-left: 0;
               margin-right: 0;
               width: 100%;
           }
       }
    } 
}

.contentblock,
.bankmanager,
.patchList {

    border-radius: @border-radius-base;
    .list-group-item {
      background-color: transparent;
    }
    margin-top: 0;
    
    // padding-left: .5rem;
    // padding-right: .5rem;
    // box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    // background-color: #222;

  .wrapper-head {
    position: relative;
    h2 {
      display: inline-block;
    }
  }
}

.contentblock {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #111;
}

.tron-top, .tron-bottom {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.tron-top {
  padding-top: 45px;
  background-image: url("img/grid-top.png");
  background-position: center top;

}
.tron-bottom {
  // padding-bottom: 120px;
  background-image: url("img/grid-bottom.png");
  background-position: center top;
  // background-attachment: fixed;
  float: left;
  width: 100%;
}

@media (max-width: @screen-sm-min) {
    .tron-bottom {
      background-position: center bottom;
    }
}

.panel-primary, .panel-info {
  border: none;
}

.contentblock {
  li {
    color: white;
  }

}

.editTools {
    display: flex;
    flex-wrap: nowrap;
  a {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  a:first-child {
    margin-left: 0;
  }
  a:last-child {
    margin-right: 0;
  }

  .glyphicon {
    color: @gray;
  }

  .lnk-publish {
    color: @gray-light;
  }
  .lnk-delete {
    color: @gray-light;
  }
  .lnk-delete:hover .glyphicon {
    color: @brand-danger;
  }
}

.is-public,
.is-public.selected {
  .editTools {
    .lnk-publish .glyphicon {
      color: @green;
    }
  }
}

.toolbar {
  margin-bottom: 1rem;
  .import-file {
    display: block;
    .button-variant(@btn-primary-color; transparent; @gray-lighter);
  }
  input[type=file] {
    margin-top: 1rem;
    display: flex;
  }
  p {
    border-left: dotted 1px #ccc;
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.cfp-hotkeys-container {
  color: #fff;
  background-color: rgba(0,0,0,0.95);
}
.cfp-hotkeys table {
  color: #fff;
}

#wrapper-payment {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

ul.list-devices {
  color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: @brand-tertiary;
}
 
::-webkit-scrollbar-thumb {
    background-color: @brand-primary;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

h1 {
  font-size: 2rem;
  color: @brand-primary;
}

h2 {
  text-transform: uppercase;
  font-size: 1.75rem;
  color: @brand-secondary;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: @brand-primary;
}

h1 small,
h2 small {
  color: #fff;
}

ul, ol, p {
  // margin-bottom: 3rem;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #222 transparent;
  margin-left: auto; 
  margin-right: auto;
}

form {
  margin-bottom: 2rem;
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.navbar {
  border: none;
  .icon-bar {
    border-color: #333;
    background-color: #fff;
  }
  margin-top: 15px;
  margin-bottom: 0;
}

.navbar-nav>li>a {
  line-height: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    .button-variant(@btn-primary-color;@brand-tertiary; @brand-secondary);
    border-radius: 5px;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.flex-justified {
    justify-content: space-between;
}
.flex-left {
    align-self: flex-start;
}
.flex-right {
    align-self: flex-end;
}

//start nav
.navbar {
    .container {
        padding-bottom: 0;
    }
}
.topnav {
    flex-wrap: nowrap;
    .fitem1 {
        order: 1;
    }
    .fitem2 {
        order: 2;
        flex: 1 1 100%;
    }
    .fitem3 {
        display: flex;
        order: 3;
    }
}

.topnav > div {
    margin-bottom: 0;
}

.alert-top {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.flash-msg {
    margin-left: 2rem;
}

@media (max-width: @screen-sm-min) {
    .topnav {
        flex-wrap: wrap;
        .fitem1 {
            order: 1;
        }
        .fitem2 {
            order: 3;
        }
        .fitem3 {
            order: 2;
        }
    }
    .flash-msg {
        margin-left: 0rem;
    }
}
//end nav

.btn-hollow {
  background-color: transparent;
}

blockquote p:before { 
    content: open-quote;
} 
blockquote p:after { 
    content: close-quote;
}

.btn-request {
  .button-variant(@btn-primary-color; @green; @green);
}

.alert {
  p {
    margin-bottom: 1rem;
  }
  // border: none;
}

small a {
    text-decoration: underline;
}

.embed-responsive {
  margin-bottom: 30px;
}

.container-fluid {
    margin-right: initial;
    margin-left: initial;
}

.supported-devices {
    column-count: 3;
    padding-bottom: 1.5rem;
}

@media (max-width: @screen-sm-min) {
    .supported-devices {
        column-count: 1;
    }
}

.layout-tools {
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;

    label {
        font-weight: normal;
        margin-bottom: 0;
    }
}

@slider-diameter : 20px;
@slider-padding : 4px;

.option-slider {
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
  margin-right: 0.5rem;
}
.option-slider label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.option-slider .text-label {
  margin-right: 0.5rem;
}
.option-slider .switch {
  position: relative;
  display: inline-block;
  width: (@slider-diameter + @slider-padding) * 2;
  height: @slider-diameter + (2*@slider-padding);
}
.option-slider .switch input {
  display: none;
}
.option-slider .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.option-slider .slider:before {
  position: absolute;
  content: "";
  height: @slider-diameter;
  width: @slider-diameter;
  left: @slider-padding;
  bottom: @slider-padding;
  background-color: white;
  -webkit-transition: .4s;
  transition: .3s;
}
.option-slider input:checked + .slider {
  background-color: #0088cc;
  background-color: @brand-primary;
}
.option-slider input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #0088cc;
          box-shadow: 0 0 1px #0088cc;
}
.option-slider input:checked + .slider:before {
  -webkit-transform: translateX(@slider-diameter);
          transform: translateX(@slider-diameter);
}
.option-slider .slider.round {
  // border-radius: 34px;
  border-radius: @slider-diameter + (2*@slider-padding);
}
.option-slider .slider.round:before {
  border-radius: 50%;
}